<nav class="sidebar card py-2 mb-4 side-nav">
    <ul class="nav flex-column" *ngFor="let item of items">
        <li class="nav-item" style="padding: 10% 8% 1% 8%;">
            <a class="nav-link" href="{{ item.link }}"> {{ item.label }} <b class="float-end" *ngIf="item.child.length > 0">&raquo;</b> </a>
            <ul class="submenu dropdown-menu" *ngIf="item.child.length > 0">
                <div class="menus" *ngFor="let childItem of item.child" >
                    <li ><a class="nav-link submenu-nav" href="{{ childItem.link }}">{{ childItem.label }}</a></li>
                </div>
            </ul>
        </li>
    </ul>
</nav>